.container  {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  background-color: #ffffff;}

.content {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  text-align: justify;
  color: black;
  font-family: 'Merriweather', serif;
  height: max-content;
  width: 100%;
  height: 100%;
}